{% extends "base.html"%}
{% block title %} About {%endblock%}

{%block homeActive%} class='nav-link' {%endblock%}
{%block aboutActive%} class='nav-link active' {%endblock%}

{%block head%}  
<style>

    .cover-container {
    max-width: 42em;
    margin: 25px;
    background-color: #b5deff;
    border-radius: 15px;
    color: #414141;
    z-index: 0;
    position: relative;
    left: -50px;
    }

  </style>
  
{%endblock%}


{%block body%}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="px-3">
      <h1>Why?</h1>
      <p class="lead">
          I am working on this website for increasing my skills.
      </p>
    </main>
  
</div>


{%endblock%}
