{% extends "base.html"%}
{% block title %} Word Analyze {%endblock%}

{%block homeActive%} class='nav-link' {%endblock%}
{%block wordActive%} class='nav-link active' {%endblock%}

{%block head%}  
  <style>
    .cover-container {
    max-width: 46em;
    margin: 25px;
    background-color: #b5deff;
    border-radius: 15px;
    color: #414141;
    z-index: 0;
    position: relative;
    left: -40px;
    }

    .btn{
        color: black;
        background-color: rgb(224, 224, 224);
    }
    .uploadg{
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .form-floating{

      max-width: 170px
    }

  </style>
  
  <!-- Javascript for google chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      // Getting data from flask and manuplating it
      var data = {{ tempdata|safe }};
      var data1 = JSON.stringify(data)
      var array  = JSON.parse(data1);

      var result = [];
      // loop for creating new array without doing this googlechart makes problems IDK
      for(var i in array)
        result.push([i, array [i]]);

      function drawChart() {
        // Creating DataTable for chart 
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Word');
        dataTable.addColumn('number', 'Count');
        dataTable.addRows(result);

       var options = {
         backgroundColor: '#b5deff',
         pieSliceText: 'label',
         slices: {  0: {offset: 0.1},
                    1: {offset: 0.1},
                    2: {offset: 0.1},
         },
         chartArea:{left:150,top:40,width:'100%',height:'80%'}
       };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataTable,options);
      }
  </script>
   
   <!-- Adding jquery and small script for toggling between two divs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
  <script>
      $(document).ready(function(){
        $('#textBar').hide();// hide it initially
          $('#toggleButton').on('click', function(){
            $('#uploadBar,#textBar').toggle();
          });
      });
  </script>

{%endblock%}


{%block body%}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="px-3">
      <h1>Pie Chart</h1>
        
        <form method=post enctype=multipart/form-data>
          <p>Hover to see descriptions</p>

          <!-- This div contains toggle button and two inputs that required for chart -->
        <div class="input-group">
          <button type="button" class="btn " id ="toggleButton" title="Toggles between file upload and text input" >Toggle</button>&nbsp;

            <div class="form-floating" >
              <input type="number" name="lenght" min="0" step="1" class="form-control" value = 2 title="Word will shown if conatins more letter than this value" >
              <label for="lenght">Lenght of words</label>
            </div>&nbsp;

            <div class="form-floating" >
              <input type="number" name="frequency" min="0" step="1" class="form-control" value=2 title="Word will be at least this frequent">
              <label for="frequency">Frequency</label>
            </div>&nbsp;
            
            <div class="form-floating" >
              <input type="number" name="maxOutput" min="0"  step="1" class="form-control" value=20 title="How many words will shown in the chart. Max is 25" >
              <label for="maxOutput" class="form-label">Max Output</label>
            </div>
         </div>

          <div class="uploadg" id="uploadBar">
               <p>!! txt and csv files suported only.<br>
                  If you are uploading csv file, please name the column with the text as "data". </p>  
               <div> <input type="file" name= file class="form-control" ></div>

            </div>
            
            <div class="mb-3" id="textBar">
              <label for="Textarea1" class="form-label">Text Area</label>
              <textarea type="data" name="text_area" class="form-control" rows="5"></textarea>
            </div>
          
            <button class="btn " type="submit" value=Upload >Submit</button>
      </form>

      <div id="piechart" style="width: 670px; height: 520px;"></div>
    </main>
  
</div>


{%endblock%}